/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}


.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.left { float:left;}
.right { float:right;}
.l {text-align:left;}
.r {text-align:right;}
.c {text-align:center;}

table.borderCols td, table.borderCols th {border-left:1px solid #d9d9d9;background-image:none}
.fixture th{ background-image:none;}
.fixture td{ font-weight:normal;}
.fixture .grid_4 caption {font:normal 18px/32px Arial; }
.fixture td.mNum{width:44px; }
.fixture td.dt{width:80px;}
.box .fixture td.dt{ padding-left:5px}
.fixture td.flag {width:25px;}
.fixture td.homeTeam{width:75px;}
.fixture td.awayTeam{width:75px;}
.fixture td.nw {white-space:nowrap}

h2.group {
font-weight: bold;
padding: 3px;
color: #999999;
margin: 5px 0;
background: #E4E4E4;
margin:0;
}


h4.group {
font-weight: bold;
padding: 10px;
color: #999999;
margin: 5px 0;
background: #E4E4E4;
margin:0;
}

.date div{
  float: left;
  background: #fafafa;
  color: #666666;
  font-size: 11px;
  width:30px;
  padding:5px;
}

td.score input {
width: 25px;
border: solid 1px #ccc;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
font-size: 12px;
font-weight: bold;
padding: 2px 4px;
text-align: center;
}

td.Pts{
  font-size: 15px;
  font-weight: bold;
}

th.group{
  background: #F0F0F0;
  color: #666666;
  min-width: 50px;
}

td.group{
  background: #F0F0F0;
  color: #666666;
}

span.nameGrey{
  color:#C5BEC0;
}

.Mondial{
  background: #00FF80;  
}

.popover{
  width:400px!important;
  max-width:400px!important;
}