/* Space out content a bit */
body {
margin: 0px;
padding: 0px;
color: #6E6E6E;
height: 100%;
background: #fff url(../images/body.gif) top left;

}

a{
  color: #008000;
  text-decoration: none;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.left { float:left;}
.right { float:right;}
.l {}
.r {text-align:right;}
.c {text-align:center;
    border:0;
    margin:0;
    padding:1px;}

table.borderCols td, table.borderCols th {border-left:1px solid #d9d9d9;background-image:none}
.fixture th{ background-image:none;}
.fixture td{ font-weight:normal;}
.fixture .grid_4 caption {font:normal 18px/32px Arial; }
.fixture td.mNum{width:44px; }
.fixture td.dt{width:80px;}
.box .fixture td.dt{ padding-left:5px}
.fixture td.flag {width:25px;}
.fixture td.homeTeam{width:75px;}
.fixture td.awayTeam{width:75px;}
.fixture td.nw {white-space:nowrap}

h2.group {
font-weight: bold;
padding: 3px;
color: #999999;
margin: 5px 0;
background: #E4E4E4;
margin:0;
}


h4.group {
font-weight: bold;
padding: 10px;
color: #999999;
margin: 5px 0;
background: #E4E4E4;
margin:0;
}

.date div{
  float: left;
  background: #fafafa;
  color: #666666;
  font-size: 11px;
  width:30px;
  padding:5px;
}

td.score input {
width: 25px;
border: solid 1px #ccc;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
font-size: 12px;
font-weight: bold;
padding: 2px 4px;
text-align: center;
}

td.Pts{
  font-size: 15px;
  font-weight: bold;
}

th.group{
  background: #F0F0F0;
  color: #666666;
  min-width: 50px;
}

td.group{
  background: #F0F0F0;
  color: #666666;
   vertical-align:middle;
}

span.nameGrey{
  color:#C5BEC0;
}

.Mondial{
  background: #00FF80;  
}

.popover{
  width:400px!important;
  max-width:400px!important;
}

div.main{
  background: url(../images/mW.png) no-repeat top center;
padding: -30px 0 10px;
height: 100%;
min-height: 360px;
}

div.mainheader {
height: 176px;
background: url(../images/header.png) no-repeat center top;
position: relative;
}

.section {
  height: 500px;  
  text-align: center;
  font-size: 40px;
  color: #fff;
  line-height: 500px;
}

.sectionscroll{
  margin-bottom: 100px;
}

.loader {
  width: 50px;
  height: 50px;
  display: inline-block;
  vertical-align: middle;
  position: relative; }

/* Loaders */

.loader-double {
  border-radius: 50px;
  border: 6px solid transparent;
  border-top-color: #fff;
  border-bottom-color: #fff;
  -webkit-animation: spin 1s linear infinite;
  -moz-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite; }
  .loader-double:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    bottom: 5px;
    right: 5px;
    border-radius: 50px;
    border: 6px solid transparent;
    border-top-color: #fff;
    border-bottom-color: #fff;
    opacity: 0.6;
    -webkit-animation: spinreverse 2s linear infinite;
    -moz-animation: spinreverse 2s linear infinite;
    animation: spinreverse 2s linear infinite; }

/* Animations */
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg); }

  to {
    -webkit-transform: rotate(360deg); } }
@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg); }

  to {
    -moz-transform: rotate(360deg); } }
@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }

  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-webkit-keyframes spinreverse {
  from {
    -webkit-transform: rotate(0deg); }

  to {
    -webkit-transform: rotate(-360deg); } }
@-moz-keyframes spinreverse {
  from {
    -moz-transform: rotate(0deg); }

  to {
    -moz-transform: rotate(-360deg); } }
@keyframes spinreverse {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }

  to {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg); } }

.flag {
  width: 29px; 
  height: 25px;     
  background: url(../images/csg-535b66ddd9029.png) no-repeat top left;
  display: inline-block;
          vertical-align:middle

}

.sprite-Algerie{ background-position: 0 0;  } 
.sprite-Allemagne{ background-position: -30px 0;  } 
.sprite-Angleterre{ background-position: -60px 0;  } 
.sprite-Belgique{ background-position: -90px 0;  } 
.sprite-BrU00e9sil{ background-position: -120px 0;  } 
.sprite-CorU00e9e{ background-position: -150px 0;  } 
.sprite-Cotedivoire{ background-position: -180px 0;  } 
.sprite-Equateur{ background-position: -210px 0;  } 
.sprite-Espagne{ background-position: -240px 0;  } 
.sprite-Etats-Unis{ background-position: -270px 0;  } 
.sprite-Pays-Bas{ background-position: -300px 0;  } 
.sprite-Suisse{ background-position: -330px 0;  } 
.sprite-_unknown{ background-position: -360px 0; width: 32px; height: 32px; } 
.sprite-Argentine{ background-position: -393px 0;  } 
.sprite-Australie{ background-position: -423px 0;  } 
.sprite-Bosnie{ background-position: -453px 0;  } 
.sprite-Cameroun{ background-position: -483px 0;  } 
.sprite-Chilie{ background-position: -513px 0;  } 
.sprite-Colombie{ background-position: -543px 0;  } 
.sprite-Costarica{ background-position: -573px 0;  } 
.sprite-Croatie{ background-position: -603px 0;  } 
.sprite-France{ background-position: -633px 0;  } 
.sprite-Ghana{ background-position: -663px 0;  } 
.sprite-GrU00e8ce{ background-position: -693px 0;  } 
.sprite-Honduras{ background-position: -723px 0;  } 
.sprite-Iran{ background-position: -753px 0;  } 
.sprite-Italie{ background-position: -783px 0;  } 
.sprite-Japon{ background-position: -813px 0;  } 
.sprite-MU00e9xique{ background-position: -843px 0;  } 
.sprite-Nigeria{ background-position: -873px 0;  } 
.sprite-Portugal{ background-position: -903px 0;  } 
.sprite-Russie{ background-position: -933px 0;  } 
.sprite-Uruguay{ background-position: -963px 0;  } 

#login:before {
    content: '';
    position: absolute;
    z-index: -1;
    border: 1px dashed #ccc;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    box-shadow: 0 0 0 1px #fff;
}

fieldset
{
    border: 0;
    padding: 0;
    margin: 0;
}

/*--------------------*/

#inputs input
{
    background: #f1f1f1 url(http://www.red-team-design.com/wp-content/uploads/2011/09/login-sprite.png) no-repeat;
    padding: 10px 10px 10px 30px;
    margin: 0 0 10px 0;
    width: 253px; /* 353 + 2 + 45 = 400 */
    border: 1px solid #ddd;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    -webkit-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
}

#username
{
    background-position: 5px -2px !important;
}

#password
{
    background-position: 5px -52px !important;
}

#inputs input:focus
{
    background-color: #fff;
    border-color: #e8c291;
    outline: none;
    -moz-box-shadow: 0 0 0 1px #e8c291 inset;
    -webkit-box-shadow: 0 0 0 1px #e8c291 inset;
    box-shadow: 0 0 0 1px #e8c291 inset;
}

/*--------------------*/
#actions
{
    margin: 0 0 0 0;
}

#submit
{   
    background-color: #ffb94b;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fddb6f), to(#ffb94b));
    background-image: -webkit-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: -moz-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: -ms-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: -o-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: linear-gradient(top, #fddb6f, #ffb94b);
    
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    
     -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
     -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
     box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;    
    
    border-width: 1px;
    border-style: solid;
    border-color: #d69e31 #e3a037 #d5982d #e3a037;

    float: left;
    height: 35px;
    padding: 0;
    width: 120px;
    cursor: pointer;
    font: bold 15px Arial, Helvetica;
    color: #8f5a0a;
}

#submit:hover,#submit:focus
{   
    background-color: #fddb6f;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffb94b), to(#fddb6f));
    background-image: -webkit-linear-gradient(top, #ffb94b, #fddb6f);
    background-image: -moz-linear-gradient(top, #ffb94b, #fddb6f);
    background-image: -ms-linear-gradient(top, #ffb94b, #fddb6f);
    background-image: -o-linear-gradient(top, #ffb94b, #fddb6f);
    background-image: linear-gradient(top, #ffb94b, #fddb6f);
} 

#submit:active
{   
    outline: none;
   
     -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
     -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
     box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;    
}

#submit::-moz-focus-inner
{
  border: none;
}

#actions a
{
    color: #3151A2;    
    float: right;
    line-height: 25px;
    margin-left: 10px;
}

/*--------------------*/

#back
{
    display: block;
    text-align: center;
    position: relative;
    top: 60px;
    color: #999;
}

#cover {
    position:absolute;
    height:100%;
    width:100%;
    background:white;
}

#userInfo {
    float:right;padding:8px;
}

#alertBox {
    position: fixed;
    min-width: 75%;
    left: 50%;
    margin: 0 0 0 -37.5%;
    top: 5px;
}

.fa.fa-twitter {
    color:#00A7E7;
}

.fa.fa-facebook-square {
    color:#3662A0;
}

.fa.fa-google-plus-square {
    color: #D74634;
}

.fade-hide-setup, .fade-show-setup {
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.fade-hide-setup {
    opacity:1;
}
.fade-hide-setup.fade-hide-start {
    opacity:0;
}

.fade-show-setup {
    opacity:0;
}
.fade-show-setup.fade-show-start {
    opacity:1;
}

#userStats {
    background-color: #f9f9f9;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 1px;
    display: block;
}

#userStats .pic {
  float:left;
    display: block;
    margin: 0px;
}

#userStats .pic img {
    background: #fff;
    border: 1px solid #ccc;
    padding: 5px;

}

#userStats .data {
    display: block;
    position: relative;
    height: 200px;
    padding: 4px;
    padding-left: 15px;
    background: #e6e6e6;
    overflow: hidden;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
}

#userStats .data h1 {
    color: #474747;
    line-height: 1.6em;
    text-shadow: 0px 1px 1px #fff;
}

#userStats .data h3 {
    color: #666;
    line-height: 0.9em;
    margin-bottom: 5px;
}

#userStats .data h4 {
    font-size: 1.2em;
    line-height: 1.3em;
}

#userStats .data .socialMediaLinks {
    position: absolute;
    right: 6px;
    top: 8px;
}

#userStats .data .socialMediaLinks a img {
    margin-right: 5px;
}

#userStats .data .sep {
    clear: both;
    margin-top: 40px;
    width: 320px;
    height: 1px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 0;
}

#userStats .data ul.numbers {
    list-style: none;
    margin-top: 0;
    border-top: 1px solid #fff;
    color: #676767;
    padding-top: 7px;
    width: 360px;
}

#userStats .data ul.numbers li {
    float: left;
    display: block;
    height: 50px;
    border-right: 1px dotted #bbb;
    text-transform: uppercase;
    margin-left:5px;
    margin-right:10px;
    padding-right: 15px;
}

#userStats .data ul.numbers li strong {
    color: #434343;
    display: block;
    font-size:25px;
    line-height: 33px;
    font-weight: bold;
}

div.pic span.ChangePhoto{
  visibility:hidden;
  position:absolute;
  left:10%;
  top:10%;
  width:50px;
  text-align: center;
color: #fff;
font-size: 18px;
font-weight: bold;
line-height: 21px;
text-shadow: 0 1px 3px rgba(0,0,0,.75);
}

div.pic:hover span.ChangePhoto{
  visibility:visible;
}


.glow {
-webkit-box-shadow: 0px 0px 20px 5px rgba(51, 77, 66, .95);
-moz-box-shadow: 0px 0px 20px 5px rgba(51, 77, 66, .95);
box-shadow: 0px 0px 20px 5px rgba(51, 77, 66, .95);
background: #fff;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
padding: 15px;
margin-left: 5px;
margin-right: 5px;
}

div.photo img {
  -webkit-box-shadow: 0px 0px 20px 5px rgba(51, 77, 66, .95);
-moz-box-shadow: 0px 0px 20px 5px rgba(51, 77, 66, .95);
box-shadow: 0px 0px 20px 5px rgba(51, 77, 66, .95);
}

div.photo span {
  padding-left: 10px;
}

.lead{
  color:#000;
  font-weight: bold;
}

.TagsInput .autocomplete .suggestion-list {
text-align: left;
}

.label-prono{
  font-weight: normal;
}


#close {
    float:right;
    display:inline-block;
    padding:2px 5px;

}

.dashboard{

}
.number {
font-size: 44px;
font-weight: bold;
float:left;
}

.number-green{
  color: #0c9100;
}

.number-orange{
  color: #FF8040;
}

.number-grey{
  color: #C0C0C0;
}

.numbertext{
  float:left;
  padding-top: 30px;
}

.dashpad{
  width: 32%;
  display: inline-block;
 vertical-align: middle;
}

.actionbutton{
  padding : 5px;
}

.TagsInput *, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.TagsInput .host {
  position: relative;
  margin-top: 5px;
  margin-bottom: 5px;
}
.TagsInput .host:active {
  outline: none;
}

.TagsInput .tags {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  padding: 1px;
  overflow: hidden;
  word-wrap: break-word;
  cursor: text;
  background-color: white;
  border: 1px solid darkgray;
  box-shadow: 1px 1px 1px 0 lightgray inset;
}
.TagsInput .tags.focused {
  outline: none;
  -webkit-box-shadow: 0 0 3px 1px rgba(5, 139, 242, 0.6);
  -moz-box-shadow: 0 0 3px 1px rgba(5, 139, 242, 0.6);
  box-shadow: 0 0 3px 1px rgba(5, 139, 242, 0.6);
}
.TagsInput .tags .tag-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.TagsInput .tags .tag-item {
  margin: 2px;
  padding: 0 5px;
  display: inline-block;
  float: left;
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 26px;
  line-height: 25px;
  border: 1px solid #acacac;
  border-radius: 3px;
  background: -webkit-linear-gradient(top, #f0f9ff 0%, #cbebff 47%, #a1dbff 100%);
  background: linear-gradient(to bottom, #f0f9ff 0%, #cbebff 47%, #a1dbff 100%);
}

.TagsInput .tags .tag-item.selected {
  background: -webkit-linear-gradient(top, #febbbb 0%, #fe9090 45%, #ff5c5c 100%);
  background: linear-gradient(to bottom, #febbbb 0%, #fe9090 45%, #ff5c5c 100%);
}


.TagsInput .tags .tag-item .tag-readonly {
  background: -webkit-linear-gradient(top, #febbbb 0%, #E6ECEC 45%, #acacac 100%);
  background: linear-gradient(to bottom, #febbbb 0%, #E6ECEC 45%, #acacac 100%);
}

.TagsInput .tags .tag-item .remove-button {
  margin: 0 0 0 5px;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  vertical-align: middle;
  font: bold 16px Arial, sans-serif;
  color: #585858;
}
.TagsInput .tags .tag-item .remove-button:active {
  color: red;
}
.TagsInput .tags .input {
  border: 0;
  outline: none;
  margin: 2px;
  padding: 0;
  padding-left: 5px;
  float: left;
  height: 26px;
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.TagsInput .tags .input.invalid-tag {
  color: red;
}
.TagsInput .tags .input::-ms-clear {
  display: none;
}
.TagsInput.ng-invalid .tags {
  -webkit-box-shadow: 0 0 3px 1px rgba(255, 0, 0, 0.6);
  -moz-box-shadow: 0 0 3px 1px rgba(255, 0, 0, 0.6);
  box-shadow: 0 0 3px 1px rgba(255, 0, 0, 0.6);
}

.TagsInput .autocomplete {
  margin-top: 5px;
  position: absolute;
  padding: 5px 0;
  z-index: 999;
  width: 100%;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.TagsInput .autocomplete .suggestion-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.TagsInput .autocomplete .suggestion-item {
  padding: 5px 10px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font: 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: black;
  background-color: white;
}
.TagsInput .autocomplete .suggestion-item.selected {
  color: white;
  background-color: #0097cf;
}
.TagsInput .autocomplete .suggestion-item.selected em {
  color: white;
  background-color: #0097cf;
}
.TagsInput .autocomplete .suggestion-item em {
  font: normal bold 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: black;
  background-color: white;
}
