
<div id="about" class="glow">
  <h2 class="text-center">A propos de WorldProno2014</h2>
    <div class="text-center">
      Cette application a été réalisée par <br/> <br/>
      <div class="photo col-xs-12 col-sm-12 col-md-6">
        <a class="glow" href="https://twitter.com/Ced9225" target="_blank"><img class="img-circle" width="150" height="150" src="/images/7467254.gif"> <span> Cédric</span></a>
      </div>
      <div class="photo  col-xs-12 col-sm-12 col-md-6">
        <a class="glow" href="https://twitter.com/WillSTOPHE" target="_blank"><img class="img-circle" width="150" height="150" src="/images/4889715.png"> <span> Will</span></a>
      </div>

    </div>
    <div style="margin-top:150px;">
          <br/><br/><br/>
            Code source :       <p> 
       {
        db:<a href="https://github.com/louischatriot/nedb"  target="_blank"> 'nedb'</a>,
        js:<a href="//nodejs.org"  target="_blank"> 'node'</a>,
        view: [<a href="//getbootstrap.com/"  target="_blank">'bootstrap'</a>, <a href="//angularjs.org/" target="_blank">'angularjs'</a> ]
       }
      </p> 
       <a href="https://github.com/wilsto/WorldProno2014"  target="_blank"> <img src="images/github-logo1.png" alt="" class="img-responsive"></a>
      </div>
</div>

