<div ng-include="'partials/navbar'"></div>




    <div class="row">

          <div class="col-xs-12 col-sm-12 col-md-12">
      <div class="jumbotron">
  <h1>Connectez-vous!</h1>
  <p class="lead">
    Pour voir vos résultats, vous devez vous identifier.</p>
    <p>
      <a class="btn btn-lg btn-success" href="#loginModal" role="button" data-toggle="modal">Je me connecte</a></p>
    </div>
     </div>

          <div class="col-xs-12 col-sm-12 col-md-6">
         <img src="images/brazil-world-cup-2014.jpg" class="img-responsive"  alt="Brazil2014"><br>
     </div>
      <div class="col-xs-12 col-sm-12 col-md-6">

      <div class="panel panel-default"> 
  <div class="panel-heading"> 
    <a href="/post/98001" class="pull-right">View</a> 
    <h4>World Cup Viewer</h4> 
  </div> 
  <div class="panel-body"> 

      <img src="//placehold.it/150x150" class="img-circle pull-left">       <img src="//placehold.it/150x150" class="img-circle pull-right"> 

  </div> 
</div> 
 

        </div>        <div class="col-xs-12 col-sm-12 col-md-6">
        <div class="panel panel-default"> 
          <div class="panel-thumbnail"><img src="//upload.wikimedia.org/wikipedia/en/3/30/FulecoMascot.jpg" class="img-responsive"> 
          </div> 
          <div class="panel-body"> 
            <p class="lead"> 
              World Cup Groups 
            </p> 
            <p> 
              <strong>8</strong> Groups 
              <strong>X</strong> Continents 
              <strong>5</strong> Qualified teams 
            </p> 

            <p> 
              <img src="" width="28px" height="28px"> 
              <img src="" width="28px" height="28px"> 
            </p> 
          </div> 
        </div></div>        <div class="col-xs-12 col-sm-12 col-md-6">
        <div class="panel panel-default"> 
          <div class="panel-thumbnail"><img src="//upload.wikimedia.org/wikipedia/en/3/30/FulecoMascot.jpg" class="img-responsive"> 
          </div> 
          <div class="panel-body"> 
            <p class="lead"> 
              World Cup Groups 
            </p> 
            <p> 
              <strong>8</strong> Groups 
              <strong>X</strong> Continents 
              <strong>5</strong> Qualified teams 
            </p> 

            <p> 
              <img src="" width="28px" height="28px"> 
              <img src="" width="28px" height="28px"> 
            </p> 
          </div> 
        </div></div>        <div class="col-xs-12 col-sm-12 col-md-6">
        <div class="panel panel-default"> 
          <div class="panel-thumbnail"><img src="//upload.wikimedia.org/wikipedia/en/3/30/FulecoMascot.jpg" class="img-responsive"> 
          </div> 
          <div class="panel-body"> 
            <p class="lead"> 
              World Cup Groups 
            </p> 
            <p> 
              <strong>8</strong> Groups 
              <strong>X</strong> Continents 
              <strong>5</strong> Qualified teams 
            </p> 

            <p> 
              <img src="" width="28px" height="28px"> 
              <img src="" width="28px" height="28px"> 
            </p> 
          </div> 
        </div></div>        <div class="col-xs-12 col-sm-12 col-md-6">
        <div class="panel panel-default"> 
          <div class="panel-thumbnail"><img src="//upload.wikimedia.org/wikipedia/en/3/30/FulecoMascot.jpg" class="img-responsive"> 
          </div> 
          <div class="panel-body"> 
            <p class="lead"> 
              World Cup Groups 
            </p> 
            <p> 
              <strong>8</strong> Groups 
              <strong>X</strong> Continents 
              <strong>5</strong> Qualified teams 
            </p> 

            <p> 
              <img src="" width="28px" height="28px"> 
              <img src="" width="28px" height="28px"> 
            </p> 
          </div> 
        </div></div>        <div class="col-xs-12 col-sm-12 col-md-6">
        <div class="panel panel-default"> 
          <div class="panel-thumbnail"><img src="//upload.wikimedia.org/wikipedia/en/3/30/FulecoMascot.jpg" class="img-responsive"> 
          </div> 
          <div class="panel-body"> 
            <p class="lead"> 
              World Cup Groups 
            </p> 
            <p> 
              <strong>8</strong> Groups 
              <strong>X</strong> Continents 
              <strong>5</strong> Qualified teams 
            </p> 

            <p> 
              <img src="" width="28px" height="28px"> 
              <img src="" width="28px" height="28px"> 
            </p> 
          </div> 
        </div></div>        <div class="col-xs-12 col-sm-12 col-md-6">
        <div class="panel panel-default"> 
          <div class="panel-thumbnail"><img src="//upload.wikimedia.org/wikipedia/en/3/30/FulecoMascot.jpg" class="img-responsive"> 
          </div> 
          <div class="panel-body"> 
            <p class="lead"> 
              World Cup Groups 
            </p> 
            <p> 
              <strong>8</strong> Groups 
              <strong>X</strong> Continents 
              <strong>5</strong> Qualified teams 
            </p> 

            <p> 
              <img src="" width="28px" height="28px"> 
              <img src="" width="28px" height="28px"> 
            </p> 
          </div> 
        </div></div>        <div class="col-xs-12 col-sm-12 col-md-6">
        <div class="panel panel-default"> 
          <div class="panel-thumbnail"><img src="//upload.wikimedia.org/wikipedia/en/3/30/FulecoMascot.jpg" class="img-responsive"> 
          </div> 
          <div class="panel-body"> 
            <p class="lead"> 
              World Cup Groups 
            </p> 
            <p> 
              <strong>8</strong> Groups 
              <strong>X</strong> Continents 
              <strong>5</strong> Qualified teams 
            </p> 

            <p> 
              <img src="" width="28px" height="28px"> 
              <img src="" width="28px" height="28px"> 
            </p> 
          </div> 
        </div></div>        <div class="col-xs-12 col-sm-12 col-md-6">
        <div class="panel panel-default"> 
          <div class="panel-thumbnail"><img src="//upload.wikimedia.org/wikipedia/en/3/30/FulecoMascot.jpg" class="img-responsive"> 
          </div> 
          <div class="panel-body"> 
            <p class="lead"> 
              World Cup Groups 
            </p> 
            <p> 
              <strong>8</strong> Groups 
              <strong>X</strong> Continents 
              <strong>5</strong> Qualified teams 
            </p> 

            <p> 
              <img src="" width="28px" height="28px"> 
              <img src="" width="28px" height="28px"> 
            </p> 
          </div> 
        </div></div>
        <div class="col-xs-12 col-sm-12 col-md-6">
        <div class="panel panel-default"> 
          <div class="panel-thumbnail"><img src="//upload.wikimedia.org/wikipedia/en/3/30/FulecoMascot.jpg" class="img-responsive"> 
          </div> 
          <div class="panel-body"> 
            <p class="lead"> 
              World Cup Groups 
            </p> 
            <p> 
              <strong>8</strong> Groups 
              <strong>X</strong> Continents 
              <strong>5</strong> Qualified teams 
            </p> 

            <p> 
              <img src="" width="28px" height="28px"> 
              <img src="" width="28px" height="28px"> 
            </p> 
          </div> 
        </div></div>
      </div>
     
      </div>
      <div class="r footer">
        <p><a  href="#aboutModal" role="button" data-toggle="modal">♥ by Will </a></p>
      </div>
      <div ng-include="'modals/login'"></div>
      <div ng-include="'modals/about'"></div>
