
<div class="main">
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12">
   <center><img src="images/bresil2014.png" class="img-responsive"  alt="Brazil2014"></center><br>
 </div>
 <div class="col-xs-12 col-sm-12 col-md-6">

  <div class="panel panel-default glow "> 
    <div class="panel-heading"> 
      <a href="/post/98001" class="pull-right">Details</a> 
      <h4>Match of Ze Day</h4> 
    </div> 
    <div class="panel-body"> 
      <img src="//placehold.it/150x150" class="img-circle pull-left">       <img src="//placehold.it/150x150" class="img-circle pull-right"> 
    </div> 
  </div> 


</div>
<div class="col-xs-12 col-sm-12 col-md-6">
  <div class="panel panel-default glow"> 
    <div class="panel-thumbnail"><img src="//upload.wikimedia.org/wikipedia/en/3/30/FulecoMascot.jpg" class="img-responsive"> 
    </div> 
    <div class="panel-body"> 
      <p class="lead"> 
        World Cup Groups 
      </p> 
      <p> 
        <strong>8</strong> Groups 
        <strong>X</strong> Continents 
        <strong>5</strong> Qualified teams 
      </p> 

      <p> 
        <img src="" width="28px" height="28px"> 
        <img src="" width="28px" height="28px"> 
      </p> 
    </div> 
  </div>
  </div>
          <div class="col-xs-12 col-sm-12 col-md-6">
  <div class="panel panel-default glow"> 
    <div class="panel-thumbnail"><img src="//upload.wikimedia.org/wikipedia/en/3/30/FulecoMascot.jpg" class="img-responsive"> 
    </div> 
    <div class="panel-body"> 
      <p class="lead"> 
        World Cup Groups 
      </p> 
      <p> 
        <strong>8</strong> Groups 
        <strong>X</strong> Continents 
        <strong>5</strong> Qualified teams 
      </p> 

      <p> 
        <img src="" width="28px" height="28px"> 
        <img src="" width="28px" height="28px"> 
      </p> 
    </div> 
  </div>
  </div>
          <div class="col-xs-12 col-sm-12 col-md-6">
  <div class="panel panel-default glow"> 
    <div class="panel-thumbnail"><img src="//upload.wikimedia.org/wikipedia/en/3/30/FulecoMascot.jpg" class="img-responsive"> 
    </div> 
    <div class="panel-body"> 
      <p class="lead"> 
        World Cup Groups 
      </p> 
      <p> 
        <strong>8</strong> Groups 
        <strong>X</strong> Continents 
        <strong>5</strong> Qualified teams 
      </p> 

      <p> 
        <img src="" width="28px" height="28px"> 
        <img src="" width="28px" height="28px"> 
      </p> 
    </div> 
  </div>
  </div>

  </div>

</div>
</div>