
<div class="main" >
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
     <center><img src="images/bresil2014.png" class="img-responsive"  alt="Brazil2014"></center><br>
   </div>

  <!--
   <div ng-controller="StatisticCtrl">
   
    <div class="col-xs-12 col-sm-12 col-md-6">
     <div class="panel panel-default glow"> 
       <div class="panel-thumbnail">
        <caption>
          <h4 class="l group">Podium {{lstRole}}
            <div class="btn-group btn-group-xs pull-right"> 
              <button ng-click="lstRole=''" class="btn btn-default">Tous</button>
              <button ng-click="lstRole='vip'" class="btn btn-warning">Joueur VIP</button>
              <button ng-click="lstRole='user'" class="btn btn-info">Simple joueur</button>
            </div>
          </h4>                        
        </caption>
      </div> 

      <div class="panel-body"> 
        <div class="col-xs-8 col-sm-10 col-md-12 col-lg-12">   

          <div class="row" ng-repeat="(k,player) in filterRolePodium(allPlayers,lstRole) track by $index">
            <div ng-if="k == 1" class="col-md-4 col-lg-4"></div>
            <div ng-if="k == 1" class="c col-md-4">
              <strong>{{player.userData.username}}</strong> <span data-ng-class="{&quot;label-info&quot;: player.userData.role.title == userRoles.user.title, &quot;label-success&quot;: player.userData.role.title == userRoles.admin.title, &quot;label-warning&quot;: player.userData.role.title == userRoles.vip.title}" class="label label-prono ">{{ player.userData.role.title }} </span><br> <div id="userStats" class="clearfix c "><div class="pic"><img class="img-circle" width="50" height="50" ng-src="{{player.userData.avatarUrl !== undefined  && player.userData.avatarUrl || '/images/inconnu.gif'}}"></div></div>  {{player.totalpoints  | number}} pts
            </div>
            <div ng-if="k == 1" class="col-md-4"></div>
            <div ng-if="k == 2" class="c col-md-4">
              <strong>{{player.userData.username}}</strong> <span data-ng-class="{&quot;label-info&quot;: player.userData.role.title == userRoles.user.title, &quot;label-success&quot;: player.userData.role.title == userRoles.admin.title, &quot;label-warning&quot;: player.userData.role.title == userRoles.vip.title}" class="label label-prono ">{{ player.userData.role.title }} </span><br> <div id="userStats" class="clearfix c "><div class="pic"><img class="img-circle" width="50" height="50" ng-src="{{player.userData.avatarUrl !== undefined  && player.userData.avatarUrl || '/images/inconnu.gif'}}"></div></div>  {{player.totalpoints  | number}} pts
            </div>
            <div ng-if="k == 2" class="col-md-8"></div>
            <div ng-if="k == 3" class="col-md-8"></div>
            <div ng-if="k == 3" class="c col-md-4">
              <strong>{{player.userData.username}}</strong> <span data-ng-class="{&quot;label-info&quot;: player.userData.role.title == userRoles.user.title, &quot;label-success&quot;: player.userData.role.title == userRoles.admin.title, &quot;label-warning&quot;: player.userData.role.title == userRoles.vip.title}" class="label label-prono ">{{ player.userData.role.title }} </span><br> <div id="userStats" class="clearfix c "><div class="pic"><img class="img-circle" width="50" height="50" ng-src="{{player.userData.avatarUrl !== undefined  && player.userData.avatarUrl || '/images/inconnu.gif'}}"></div></div>  {{player.totalpoints  | number}} pts
            </div>
          </div>
          <img src="http://www.xavierquerathement.fr/wp-content/uploads/2013/05/podium.jpg" class="img-responsive"> 
        </div>

      </div> 
    </div>
  </div>
</div> -->


<div class="col-xs-12 col-sm-12 col-md-6">
  <div class="panel panel-default glow"> 
    <div class="panel-thumbnail"> 
    </div> 
    <div class="panel-body"> 
      <p class="lead"> 
        Quelques chiffres
      </p> 
      <div class="dashboard">
        <div class="dashpad">
          <div class="bh">
            <span class="number number-green" >{{usersCount}}</span>
            <div class="numbertext"> joueurs</div>
          </div>
        </div>
        <div class="dashpad">
         
          <div class="bh">
            <span class="number number-orange">{{userVipCount}}</span>
             <div class="numbertext"> VIPs</div>
          </div>
        </div>
        <div class="dashpad">
          
          <div class="bh">
            <span class="number number-grey">{{groupsCount}}</span>
            <div class="numbertext"> groupes</div>
          </div>
        </div>
      </div>
      <div class="" style="height:350px">
            <br/><p class="lead"> 
        % Pronostics Champion du monde
      </p> 
          <fs-bar width="500" height="300" duration="1000"  bind="results.facets.Pronos">
          </fs-bar>
        </div>
    </div> 
  </div>
</div>
<!--
<div class="col-xs-12 col-sm-12 col-md-6">
  <div class="panel panel-default glow"> 
    <div class="panel-thumbnail"><img src="images/FulecoMascot.jpg" class="img-responsive"> 
    </div> 
    <div class="panel-body"> 
      <p class="lead"> 
        Les actualités des pronos
      </p> 
      <p> 
        Retrouvez sur la page d'accueil les actualités liées au mondial et aux pronostics.
      </p> 

    </div> 
  </div>
</div>
-->
<div ng-repeat="post in posts | orderBy: 'date' : 'reverse'" class="col-xs-12 col-sm-12 col-md-6">
  <div class="panel panel-default glow"> 
    <button ng-show="user.role.title === userRoles.admin.title" class ="btn btn-xs  btn-danger" id='close' ng-click='deletePost(post)'>Supprimer</button>
    <button ng-show="user.role.title === userRoles.admin.title"  class ="btn btn-xs  btn-default" id='close' ng-click='editPost(post)'>Modifier</button>
    <div class="panel-thumbnail"><img src=" {{post.postImage}}" class="img-responsive">  {{post.date | date : 'dd-MM-yyyy'}}
    </div> 
    <div class="panel-body"> 
      <p class="lead"> 
        {{post.postTitle}}
      </p> 
      <p > 
       <span ng-bind-html="post.postText"></span>
      </p> 

    </div> 
  </div>
</div> 


<div class="col-xs-12 col-sm-12 col-md-6">
  <div class="panel panel-default glow"> 
    <div class="panel-thumbnail"><img src="images/icone-bug--coccinelle_29-59.jpg" class="img-responsive"> 
    </div> 
    <div class="panel-body"> 
      <p class="lead"> 
        Déclarer les bugs ou les évolutions
      </p> 
      <p class="text-center"> 
        <a class="btn btn-success" href="https://github.com/wilsto/WorldProno2014/issues?state=open" target="_blank">Ouvrir la page GitHub</a>
      </p> 

    </div> 
  </div>
</div> 


</div>

</div>
</div>