
<div class="col-xs-12 col-xs-12 col-md-8 col-lg-8 glow">
	<div id="userStats" class="clearfix  ">
		<div class="pic">
			<a href="#"><img class="img-circle" width="150" height="150" src="/images/user_avatar.jpg"></a>
          	<span class="ChangePhoto"><p>Changer votre photo de profil</p></span>
        </div>
		<div class="data">
			<h1>{{user.username}}</h1>

			<div class="socialMediaLinks">
				<span data-ng-class="{&quot;label-info&quot;: user.role.title == userRoles.user.title, &quot;label-success&quot;: user.role.title == userRoles.admin.title}" class="label">{{ user.role.title }} </span>
			</div>
			<!--<ul class="numbers clearfix" style="padding-left: 0px;">
				<li>Pronos<strong class="small">100%</strong></li>
				<li>Points<strong>44</strong></li>
				<li>Classement<strong>17</strong></li>
			</ul>-->
		</div>
	</div>
	<h1>A propos de moi</h1>
	<p>
		J'appartiens à un ou plusieurs groupes :
	</p>
<tags-input ng-model="tags" placeholder="Ajouter un groupe" >
      <auto-complete source="loadTags($query)" min-length="1"></auto-complete>
</tags-input><button class="btn btn-primary pull-right ladda-button" data-style="expand-right" ng-click="saveGroup()"><span class="ladda-label">Sauvegarder</span><span class="ladda-spinner"></span></button>
Vous pouvez appartenir à plusieurs groupes en meme temps, cela vous permet si vous voulez vous faire un challenge entre amis et avoir votre propre classement indépendant en filtrant les résultats.
<h1>Inviter des amis</h1>
<div class="friendslist clearfix">
	<p>Vous pouvez jusqu'à inviter 5 amis à passer VIP.<br/>
	Vous etes alors resposnables de récupérer l'argent investi de vos amis</p>
				<div class="friend">
					<a href="#"><img class="img-circle" data-cfsrc="img/friend_avatar_default.jpg" width="30" height="30" alt="Jerry K." src="images/friend_avatar_default.jpg"></a><span class="friendly"><a href="#"> Ami #1</a></span>
				</div>
				<div class="friend">
					<a href="#"><img  class="img-circle" data-cfsrc="img/friend_avatar_default.jpg" width="30" height="30" alt="Katie F." src="images/friend_avatar_default.jpg"></a><span class="friendly"><a href="#"> Ami #2</a></span>
				</div>
				<div class="friend">
					<a href="#"><img class="img-circle" data-cfsrc="img/friend_avatar_default.jpg" width="30" height="30" alt="Ash K." src="images/friend_avatar_default.jpg"></a><span class="friendly"><a href="#"> Ami #3</a></span>
				</div>
				<div class="friend">
					<a href="#"><img  class="img-circle" data-cfsrc="img/friend_avatar_default.jpg" width="30" height="30" alt="Sponge B." src="images/friend_avatar_default.jpg"></a><span class="friendly"><a href="#"> Ami #4</a></span>
				</div>
								<div class="friend">
					<a href="#"><img class="img-circle" data-cfsrc="img/friend_avatar_default.jpg" width="30" height="30" alt="Sponge B." src="images/friend_avatar_default.jpg"></a><span class="friendly"><a href="#"> Ami #5</a></span>
				</div>
			</div>

</div>
<div class="col-md-offset-1 col-xs-12 col-xs-12 col-md-3 col-lg-3 glow">

	<div class="gcontent">
		<div class="head"><h1>Statut</h1></div>
		<div class="boxy">
			<p>Retrouver vos badges tout au long du tournoi!</p>
			<div class="badgeCount">
			<a href="#"><img width="50" height="50"  src="images/vip-icon.png"></a>
			</div>
		</div>
	</div>
	<div class="gcontent">
		<div class="head"><h1>Actions</h1></div>
		<div class="boxy">
			<div class="friendslist clearfix">
				<div class="friend">
					<a href="#"><span class="friendly">Changer mot de passe</a></span>
				</div>
				<div class="friend">
					<a href="#"><span class="friendly">Passer VIP</a></span>
				</div>
				<div class="friend">
					<a href="https://github.com/wilsto/WorldProno2014/issues?state=open" target="_blank"><span class="friendly">Déclarer un bug</a></span>
				</div>
			</div>
		</div>
	</div>