
<div id="about" class="glow">
  <h2 class="text-center">Règlement WorldProno2014</h2>
    <div >

    <hr>
    <h4>Comment jouer</h4>
    <ol>
      <li>S'inscrire et se connecter</li>
      <li>Pronostiquer la coupe du monde dans son entier dans l'onglet "Mon pronostic"</li>
      <li>Enregistrer vos pronos avant le 12 juin</li>
      <li>Devenez <span class="label label-warning label-prono">VIP</span> en apportant vos 10€ pour valider vos pronos (attention tout pronostic non payé avant le 11 juin ne sera pas pris en compte dans le jeu)</li>
      <li>Suivre les résultats</li>
    </ol>

    <hr>
    <h4>Devenez un  <span class="label label-warning ">Very Important Player (VIP)</span></h4>
      Etre VIP, c'est une opportunité de gagner la cagnotte spéciale coupe du monde 2014. <br>
      Il vous suffit d'apporter une participation de 10€ pour devenir VIP <br>
      Les 10% meilleurs pronostisqueurs se partageront la cagnotte.<br>
      A 50 joueurs, cela nous fait 5 gagnants à répartition croissante, soit 500€ de gains à se partager.<br>
      <br>
      <strong style="padding-left:15px">Une seule condition:</strong> connaitre Willy ou un de ses amis qui se portera garant de vous.

    <hr>
    <h4>Attribution des points</h4>

      Accumuler les points suivant les règles suivantes : <br>

     Pendant les phases de poules :
      <ul>
        <li>3 points par pronostic correct (V1, N, V2)</li>
        <li>1 point bonus pour le score correct</li>
      </ul>

     Pour les équipes qualifiées :
           <ul>
        <li>2 points par équipe qualifiée par phase</li>
        <li>2 points supplémentaires pour l'ordre pour les huitèmes</li>
      </ul>

     Pour la phase finale (des huitièmes à la finale)
      <ul>
        <li>si les 2 équipes sont les bonnes, même nombre de points que pour les poules soit +3/+4 points</li>
        <li>Trouver le champion du monde (peu importe les matchs précédents) : 5 points.</li>
      </ul>
     
 Le total est sur 309 points possibles :

      <ul>
        <li>192 points pour les phases de poules</li>
        <li>48 points pour les qualifications</li>
        <li>69 points pour la phase finale</li>
      </ul>
    <hr>
    <h4>Le site</h4>
 Au niveau du menu, vous trouverez plusieurs onglets:
  <ul>
    <li>Accueil : C'est ici que vous rentrer vos identifiants et gérer l'envoi ou la réception des résultats</li>
    <li>Le Mondial : Résulats officiels de la coupe du monde 2014 au fur et à mesure de la compétition</li>
    <li>Règlement: cette page</li>
    <li>Mon pronostic : C'est ici que vous devez rentrer vos pronostics avant de les envoyer.</li>
    <li>Les résulats : Classement des joueurs et points cumulés de la compétition</li>
  </ul>
    <hr>

 Bons pronostics et bonne coupe du monde à tous,
      </div>
</div>

