
<div class="row glow">
<br/>
    <div class="alert alert-danger"> Vous pouvez jouer ou affiner vos pronos jusqu'au début du premier match (jeudi 12 juin 21:59 heure francaise). <br/> Après <u> pour les retardataires </u>, vous pouvez pronostiquer mais attention les matchs déjà commencés ou passés au moment de votre enregistrement seront exclus automatiquement de vos résultats. Les points seront à zéro et le match sera noté : **KO</div>
  <div class="col-sm-12">
    <h1>Créer un compte</h1>
  </div>
  <div class="col-sm-12">
    <form ng-submit="register()" name="registerForm" role="form" class="form-horizontal">
  <div class="form-group">
    <label for="username" class="control-label col-sm-2">Pseudo du joueur</label>
    <div class="col-sm-10">
      <input type="text" data-ng-model="username" placeholder="Nom du joueur" name="username" required="required" data-ng-minlength="1" data-ng-maxlength="20" autofocus="autofocus" class="form-control"/>
    </div>
  </div>
  <div class="form-group">
    <label for="email" class="control-label col-sm-2">Adresse Mail</label>
    <div class="col-sm-10">
      <input type="text" data-ng-model="email" placeholder="_______@___.__" name="email" required="required" data-ng-minlength="1" data-ng-maxlength="40" class="form-control"/>
    </div>
  </div>
  <div class="form-group">
    <label for="password" class="control-label col-sm-2">Mot de passe</label>
    <div class="col-sm-10">
      <input type="password" data-ng-model="password" placeholder="Mot de passe" name="password" required="required" data-ng-minlength="5" data-ng-maxlength="60" class="form-control"/>
    </div>
  </div>
        <div class="col-sm-offset-2 col-sm-10">
  <div class="form-group">
    <div class="radio radio-inline">
      <label>
        <input type="radio" name="role" data-ng-model="role" id="userRole" data-ng-value="userRoles.user"/>Normal
      </label>
    </div>
    <div class="radio radio-inline">
      <label>
        <input type="radio" name="role" data-ng-model="role" id="VIPRole" data-ng-value="userRoles.vip"/>VIP (Very Important Player)
      </label>
    </div>
    <div class="radio radio-inline" style="visibility:hidden">
      <label>
        <input type="radio" name="role" data-ng-model="role" id="adminRole" data-ng-value="userRoles.admin"/>Admin
      </label>
    </div>
  </div>
  <div class="form-group">
    <div class="controls">
      <button type="submit" data-ng-disabled="registerForm.$invalid" class="btn">Créer</button>
    </div>
  </div>
  <div ng-show="registerForm.$invalid &amp;&amp; registerForm.$dirty" class="alert alert-danger"><strong>Please correct the following errors:</strong>
    <ul>
      <li ng-show="registerForm.username.$error.required">Username (pseudo) is required</li>
      <li ng-show="registerForm.username.$error.minlength">Username (pseudo) has to be at least 1 character long</li>
      <li ng-show="registerForm.username.$error.maxlength">Username (pseudo) has to be at most 20 character long</li>
      <li ng-show="registerForm.email.$error.required">Mail is required</li>
      <li ng-show="registerForm.email.$error.minlength">Mail has to be at least 1 character long</li>
      <li ng-show="registerForm.email.$error.maxlength">Mail has to be at most 20 character long</li>
      <li ng-show="registerForm.password.$error.required">Password is required</li>
      <li ng-show="registerForm.password.$error.minlength">Password must be at least 5 characters long</li>
      <li ng-show="registerForm.password.$error.maxlength">Password must be at most 60 characters long</li>
    </ul>
  </div>
   <div ng-show="error" class="alert alert-danger"><strong>Please correct the following errors:</strong>
    <ul>
      <li>{{signError}}</li>
    </ul>
  </div>
  </div>
</form>
  </div>

</div>

<br/>
<div class="row">
  <div class="col-sm-12 glow">
    Déjà un compte ? <a href="/login" class="text-center new-account">Se connecter.</a>
  </div>
</div>