
<section class="section"  ng-hide="allPlayers">
<span class="loader loader-double"></span>
Chargement en cours
</section>


<section class="section-2" ng-show="allPlayers">

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <table class="table table-responsive table-condensed" style="background-color:#fff">

                    <caption>
                        <h4 class="l group">Classement {{lstRole}}
                          <div style="margin-top:-7px;" class="btn-group pull-right"> 
                            <button ng-click="lstRole=''" class="btn btn-default">Tous</button>
                            <button ng-click="lstRole='vip'" class="btn btn-warning">Joueur VIP</button>
                            <button ng-click="lstRole='user'" class="btn btn-info">Simple joueur</button>
                             </div>
                        </h4>                        
                    </caption>
                    <caption>
                     <span style="float:left;width:20%;margin-top:5px;height:33px;" class="input-group-addon">Filtre Groupe</span><tags-input ng-model="tags" style="float:left;width:80%" max-tags="1" add-from-autocomplete-only="true" placeholder="Taper le nom du groupe">
                          <auto-complete style="text-align:left" source="loadTags($query)" min-length="1" highlight-matched-text="false" ></auto-complete>
                    </tags-input>                    
                    </caption>
                    <!-- BEGIN: Inner ngRepeat. -->
                    <tr class="group">
                        <td class="l group">#</td>
                        <td class="c group" style="width:51px"></td>
                        <td class="l group">Nom</td>
                        <td class="l group"></td>
                        <td class="c group"><a href="" ng-click="predicate = 'totalpoints'; reverse=!number"><span class="glyphicon glyphicon-arrow-down"></span></a>Pts<a href="" ng-click="predicate = 'totalpoints'; reverse=number"><span class="glyphicon glyphicon-arrow-up"></span></a></td>
                        <td class="c group">1er tour</td>
                        <td class="c group">2ème tour</td>
                        <td class="c group">3ème tour</td>
                        <td class="c group">Qualifs</td>
                        <td class="c group ">1/8</td>
                        <td class="c group">1/4</td>
                        <td class="c group">1/2</td>
                        <td class="c group">Finales</td>
                        <td class="c group">Win</td>
                    </tr>
                    <tr ng-repeat="(k,player) in filterRole(allPlayers,lstRole) | orderBy:predicate:reverse">
                        <td class="l">{{$index +1}}</td>
                        <td class="c " style="width:51px"><a href="/worldcup/{{player.userData.username}}"><div id="userStats" class="clearfix  "><div class="pic"><img class="img-circle" width="50" height="50" ng-src="{{player.userData.avatarUrl !== undefined  && player.userData.avatarUrl || '/images/inconnu.gif'}}"></div></div></a></td>
                        <td class="l "><strong><a href="/worldcup/{{player.userData.username}}"><span ng-show="!player.userData.pseudo">{{player.userData.username}}</span>{{player.userData.pseudo}}</a></strong><br/><span data-ng-class="{&quot;label-info&quot;: player.userData.role.title == userRoles.user.title, &quot;label-success&quot;: player.userData.role.title == userRoles.admin.title, &quot;label-warning&quot;: player.userData.role.title == userRoles.vip.title}" class="label label-prono ">{{ player.userData.role.title }} </span></td>
                        <td class="l "> 
                            <span ng-repeat="group in player.userData.groups track by $index" class="label label-prono label-default">{{ group.text }} </span>
                        </td>
                        <td class="c Pts "> {{player.totalpoints  | number}} </td>
                        <td class="c "><button pop-over items="player.points.tour1.details" title="Détails Tour 1" class="btn btn-default">{{player.points.tour1.total | number}}</button>
                        <td class="c "><button pop-over items="player.points.tour2.details" title="Détails Tour 2" class="btn btn-default">{{player.points.tour2.total | number}}</button></td>
                        <td class="c "><button pop-over items="player.points.tour3.details" title="Détails Tour 3" class="btn btn-default">{{player.points.tour3.total | number}}</button></td>
                        <td class="c "><button popover="{{player.points.qualif.details}}" popover-title="Détails Qualifications" popover-placement="right" class="btn btn-default">{{player.points.qualif.total | number}}</button></td>
                        <td class="c "><button popover="{{player.points.roundOf16.details}}" popover-title="Détails 1/8ème de finale" popover-placement="right" class="btn btn-default">{{player.points.roundOf16.total | number}}</button></td>
                        <td class="c "><button popover="{{player.points.quarterFinals.details}}" popover-title="Détails 1/4 de finale" popover-placement="right" class="btn btn-default">{{player.points.quarterFinals.total | number}}</button></td>
                        <td class="c "><button popover="{{player.points.semiFinals.details}}" popover-title="Détails Demi-Finales" popover-placement="right" class="btn btn-default">{{player.points.semiFinals.total | number}}</button></td>
                        <td class="c "><button popover="{{player.points.Finals.details}}" popover-title="Détails Finales" popover-placement="right" class="btn btn-default">{{player.points.Finals.total | number}}</button></td>
                        <td class="c "><button popover="{{player.points.winner.details}}" popover-title="Détails Vainqueur" popover-placement="right" class="btn btn-default">{{player.points.winner.total | number}}</button></td>

                    </tr>
                    <!-- END: Inner ngRepeat. -->
                </table>
            </div>
</section>