
<!-- BEGIN: Outer ngRepeat. -->

<section class="section"  ng-hide="secondStageMatches">
<span class="loader loader-double"></span>
Chargement en cours
</section>

<section class="sectionscroll" ng-show="secondStageMatches && groupsMatches">

<div class="col-xs-12 col-xs-12 col-md-12 col-lg-12 glow" style="margin-bottom:10px">
    <div id="userStats" class="clearfix  ">
        <div class="data">      
            <div class="pic">
                <img class="img-circle" width="150" height="150" src="{{avatarUrl !== undefined  && avatarUrl || '/images/inconnu.gif'}}">
            </div>          
            <h1 style="float:left;padding-left:10px">{{real}}</h1>
            <div class="socialMediaLinks">
                <span data-ng-class="{&quot;label-info&quot;: player.role.title == userRoles.user.title, &quot;label-warning&quot;: player.role.title == userRoles.vip.title, &quot;label-success&quot;: player.role.title == userRoles.admin.title}" class="label">{{ player.role.title.toUpperCase() }} </span>
            </div>
            <ul style="float:right;padding-top:70px;padding-left:10px" class="numbers clearfix" class="pull-right;" style="padding-left: 0px;">
                <li>Pronos<strong class="small">{{playerCompletePct}}%</strong></li>
                <li>Champion du monde 2014<strong class="small"><span ng-show="worldChampion" class="flag sprite-{{worldChampion.replace('é','U00e9').replace('è','U00e8').replace('e d\'Iv','ediv')}}"></span>  <span ng-show="!mobilecheck()">{{worldChampion}} </span></strong></li>

            </ul>
        </div>
    </div>
    <h1>Mes groupes</h1>
<div class="TagsInput bootstrap" >
  <ul class="TagsInput tags tag-list" style="border: none;" >
     <li class="bootstrap tags tag-item tag-readonly" ng-repeat="tag in tags"><span style="padding: 2px;">{{tag.text}}</span></li>
  </ul>
</div>
</div>

<div collapse="isCollapsed">
<div ng-repeat="(group, groupData) in groupsMatches">
    <div class="row">

        <div class="col-xs-12 col-xs-12 col-md-12 col-lg-12">
            <div class="col-xs-12 col-xs-12 col-md-6 col-lg-6">
                <table class="table table-condensed glow" >

                    <caption>
                        <h2 class="l group"><img src="images/miniballon.png"> Groupe {{group}} </h2>
                    </caption>

                    <!-- BEGIN: Inner ngRepeat. -->
                    <tr ng-repeat="match in groupData.matches">
                        <td class="l tdgroup"><div ng-show="isNamed" class="date " title="{{ match[2].date }}">{{ match[2].date }} {{ match[2].time }}</div></td>
                        <td class="l tdgroup"><span class="flag sprite-{{match[0].country.replace('é','U00e9').replace('è','U00e8').replace('e d\'Iv','ediv')}}"></span>  <span ng-show="!mobilecheck()">{{match[0].country}} </span></td>
                        <td class="l tdgroup homeTeam"></td>
                        <td class="c tdgroup score"><input type="tel" class="score1" size="1" maxlength="2"  ng-model="match[0].score" ng-disabled="(real !== user.username)"> </td>
                        <td class="c tdgroup score"><input type="tel" class="score1" size="1" maxlength="2"  ng-model="match[1].score"  ng-disabled="(real !== user.username)"></td>
                        <td class="r tdgroup awayTeam"></td>
                        <td class="r tdgroup"><span ng-show="!mobilecheck()">{{match[1].country}}</span>  <span class="flag sprite-{{match[1].country.replace('é','U00e9').replace('è','U00e8').replace('e d\'Iv','ediv')}}"></span> </span></td>
                    </tr>
                    <!-- END: Inner ngRepeat. -->
                </table>
            </div>
            <div class="col-xs-12 col-xs-12 col-md-6 col-lg-6">
                <table class="table table-responsive table-condensed glow" >

                    <caption>
                        <h4 class="l group">Classement</h4>
                    </caption>

                    <!-- BEGIN: Inner ngRepeat. -->
                    <th class="group">
                        <td class="l group"></td>
                        <td class="l group">Pts</td>
                        <td class="r group">J</td>
                        <td class="r group">G</td>
                        <td class="r group">N</td>
                        <td class="r group">P</td>
                        <td class="r group">Bp</td>
                        <td class="r group ">Bc</td>
                        <td class="r group">Dif</td>
                    </th>

                    <tr ng-repeat="country in groupData.sortedStanding  track by $index ">
                        <td class="l">{{$index +1}}</td>
                        <td class="l "><span class="flag sprite-{{country[0].replace('é','U00e9').replace('è','U00e8').replace('e d\'Iv','ediv')}}"></span> <span ng-show="!mobilecheck()">{{country[0]}} </span></td>
                        <td class="l Pts"> {{country[1].total | number}} </td>
                        <td class="r "> {{country[1].matchNb | number}} </td>
                        <td class="r "> {{country[1].win | number}} </td>
                        <td class="r "> {{country[1].nul | number}} </td>
                        <td class="r "> {{country[1].lose | number}} </td>
                        <td class="r "> {{country[1].pour | number}} </td>
                        <td class="r "> {{country[1].contre | number}} </td>
                        <td class="r "> {{(country[1].pour - country[1].contre) | number}} </td>
                    </tr>
                    <!-- END: Inner ngRepeat. -->
                </table>
            </div>
        </div>
        <!-- END: Outer ngRepeat. -->

    </div>
</div>
</div>


<table class="table table-responsive table-condensed glow" >

    <caption>
    <h2 class="l group">8èmes de finale</h2>
    </caption>

    <!-- BEGIN: Inner ngRepeat. -->
    <tr ng-repeat="(key, data) in secondStageMatches.roundOf16">
        <td class="l ">{{key}}  </td>
        <td class="l"><div ng-show="isNamed" class="date " title="{{ data[2].date }}">{{ data[2].date }} {{ data[2].time }}</div></td>

        <td class="l "> <span class="flag sprite-{{data[0].country.length <3 && '_unknown' || data[0].country.replace('é','U00e9').replace('è','U00e8').replace('e d\'Iv','ediv')}}"></span>   <span ng-class="{nameGrey:data[0].country.length <3}" ng-show="isNamed  || data[0].country.length <3">{{data[0].country}}</span></td>
        <td class="l homeTeam"></td>
        <td class="c score">
            <div ng-raty="ratyOptions" ng-model="data[0].penalties" ng-show="data[0].score===data[1].score && data[0].score.length > 0"></div>
            <input type="tel" class="score1" size="1" maxlength="2"  ng-model="data[0].score"  ng-disabled="data[0].country.length <3 || data[1].country.length <3 || (real !== user.username)">
        </td>
        <td class="c score">
            <input type="tel" class="score1" size="1" maxlength="2"  ng-model="data[1].score"  ng-disabled="data[0].country.length <3 || data[1].country.length <3 || (real !== user.username)">
            <div ng-raty="ratyOptions" ng-model="data[1].penalties" ng-show="data[0].score===data[1].score && data[0].score.length > 0"></div>
        </td>
        <td class="r awayTeam"></td>
        <td class="r "> <span ng-class="{nameGrey:data[1].country.length <3}" ng-show="isNamed || data[1].country.length <3">{{data[1].country}} </span> <span class="flag sprite-{{data[1].country.length <3 && '_unknown' || data[1].country.replace('é','U00e9').replace('è','U00e8').replace('e d\'Iv','ediv')}}"></span> </td>

    </tr>
    <!-- END: Inner ngRepeat. -->
</table>


<table class="table table-responsive table-condensed glow" >

    <caption>
        <h2 class="l group">Quart de finale</h2>
    </caption>

    <!-- BEGIN: Inner ngRepeat. -->
    <tr ng-repeat="(key, data) in secondStageMatches.quarterFinals">
            <td class="l ">{{key}}  </td>
        <td class="l"><div ng-show="isNamed" class="date " title="{{ data[2].date }}">{{ data[2].date }} {{ data[2].time }}</div></td>
        <td class="l ">   <span class="flag sprite-{{data[0].country.length <3 && '_unknown' || data[0].country.replace('é','U00e9').replace('è','U00e8').replace('e d\'Iv','ediv')}}"></span><span ng-show="isNamed"> {{data[0].country}} </span></td>
        <td class="l homeTeam"></td>
        <td class="c score">
            <div ng-raty="ratyOptions" ng-model="data[0].penalties" ng-show="data[0].score===data[1].score && data[0].score.length > 0"></div>
            <input type="tel" class="score1" size="1" maxlength="2"  ng-model="data[0].score"  ng-disabled="data[0].country.length <3 || data[1].country.length <3 || (real !== user.username)">
        </td>
        <td class="c score">
            <input type="tel" class="score1" size="1" maxlength="2"  ng-model="data[1].score"  ng-disabled="data[0].country.length <3 || data[1].country.length <3 || (real !== user.username)">
            <div ng-raty="ratyOptions" ng-model="data[1].penalties" ng-show="data[0].score===data[1].score && data[0].score.length > 0"></div>
        </td>
        <td class="r awayTeam"></td>
        <td class="r "> <span ng-show="isNamed">{{data[1].country}} </span> <span class="flag sprite-{{data[1].country.length <3 && '_unknown' || data[1].country.replace('é','U00e9').replace('è','U00e8').replace('e d\'Iv','ediv')}}"></span></td>

    </tr>
    <!-- END: Inner ngRepeat. -->
</table>

<table class="table table-responsive table-condensed glow" >

    <caption>
        <h2 class="l group">Demi-finale</h2>
    </caption>

    <!-- BEGIN: Inner ngRepeat. -->
    <tr ng-repeat="(key, data) in secondStageMatches.semiFinals">
        <td class="l ">{{key}}  </td>
        <td class="l"><div ng-show="isNamed" class="date " title="{{ data[2].date }}">{{ data[2].date }} {{ data[2].time }}</div></td>
        <td class="l ">  <span class="flag sprite-{{data[0].country.length <3 && '_unknown' || data[0].country.replace('é','U00e9').replace('è','U00e8').replace('e d\'Iv','ediv')}}"></span><span ng-show="isNamed"> {{data[0].country}} </span></td>
        <td class="l homeTeam"></td>
        <td class="c score">
            <div ng-raty="ratyOptions" ng-model="data[0].penalties" ng-show="data[0].score===data[1].score && data[0].score.length > 0"></div>
            <input type="tel" class="score1" size="1" maxlength="2"  ng-model="data[0].score"  ng-disabled="data[0].country.length <3 || data[1].country.length <3 || (real !== user.username)">
        </td>
        <td class="c score">
            <input type="tel" class="score1" size="1" maxlength="2"  ng-model="data[1].score"  ng-disabled="data[0].country.length <3 || data[1].country.length <3 || (real !== user.username)">
            <div ng-raty="ratyOptions" ng-model="data[1].penalties" ng-show="data[0].score===data[1].score && data[0].score.length > 0"></div>
        </td>
        <td class="r awayTeam"></td>
        <td class="r "> <span ng-show="isNamed">{{data[1].country}} </span> <span class="flag sprite-{{data[1].country.length <3 && '_unknown' || data[1].country.replace('é','U00e9').replace('è','U00e8').replace('e d\'Iv','ediv')}}"></span></td>

    </tr>
    <!-- END: Inner ngRepeat. -->
</table>

<table class="table table-responsive table-condensed glow" >

    <caption>
        <h2 class="l group">Petite finale (3ème place)</h2>
    </caption>

    <!-- BEGIN: Inner ngRepeat. -->
    <tr ng-repeat="(key, data) in secondStageMatches.final3">
            <td class="l ">{{key}}  </td>
        <td class="l"><div ng-show="isNamed" class="date " title="{{ data[2].date }}">{{ data[2].date }} {{ data[2].time }}</div></td>
        <td class="l ">  </td>
        <td class="l ">   <span class="flag sprite-{{data[0].country.length <3 && '_unknown' || data[0].country.replace('é','U00e9').replace('è','U00e8').replace('e d\'Iv','ediv')}}"></span><span ng-show="isNamed"> {{data[0].country}} </span></td>
        <td class="l homeTeam"></td>
        <td class="c score">
            <div ng-raty="ratyOptions" ng-model="data[0].penalties" ng-show="data[0].score===data[1].score && data[0].score.length > 0"></div>
            <input type="tel" class="score1" size="1" maxlength="2"  ng-model="data[0].score"  ng-disabled="data[0].country.length <3 || data[1].country.length <3 || (real !== user.username)">
        </td>
        <td class="c score">
            <input type="tel" class="score1" size="1" maxlength="2"  ng-model="data[1].score"  ng-disabled="data[0].country.length <3 || data[1].country.length <3 || (real !== user.username)">
            <div ng-raty="ratyOptions" ng-model="data[1].penalties" ng-show="data[0].score===data[1].score && data[0].score.length > 0"></div>
        </td>
        <td class="r awayTeam"></td>
        <td class="r "><span ng-show="isNamed"> {{data[1].country}} </span> <span class="flag sprite-{{data[1].country.length <3 && '_unknown' || data[1].country.replace('é','U00e9').replace('è','U00e8').replace('e d\'Iv','ediv')}}"></span></td>

    </tr>
    <!-- END: Inner ngRepeat. -->
</table>

<table class="table table-responsive table-condensed glow" >

    <caption>
        <h2 class="l group">Finale</h2>
    </caption>

    <!-- BEGIN: Inner ngRepeat. -->
    <tr ng-repeat="(key, data) in secondStageMatches.final">
            <td class="l ">{{key}}  </td>
        <td class="l"><div ng-show="isNamed" class="date " title="{{ data[2].date }}">{{ data[2].date }} {{ data[2].time }}</div></td>
        <td class="l ">  </td>
        <td class="l ">   <span class="flag sprite-{{data[0].country.length <3 && '_unknown' || data[0].country.replace('é','U00e9').replace('è','U00e8').replace('e d\'Iv','ediv')}}"></span><span ng-show="isNamed"> {{data[0].country}} </span></td>
        <td class="l homeTeam"></td>
        <td class="c score">
            <div ng-raty="ratyOptions" ng-model="data[0].penalties" ng-show="data[0].score===data[1].score && data[0].score.length > 0"></div>
            <input type="tel" class="score1" size="1" maxlength="2"  ng-model="data[0].score"  ng-disabled="data[0].country.length <3 || data[1].country.length <3 || (real !== user.username)">
        </td>
        <td class="c score">
            <input type="tel" class="score1" size="1" maxlength="2"  ng-model="data[1].score"  ng-disabled="data[0].country.length <3 || data[1].country.length <3 || (real !== user.username)">
            <div ng-raty="ratyOptions" ng-model="data[1].penalties" ng-show="data[0].score===data[1].score && data[0].score.length > 0"></div>
        </td>
        <td class="r awayTeam"></td>
        <td class="r "><span ng-show="isNamed"> {{data[1].country}} </span> <span class="flag sprite-{{data[1].country.length <3 && '_unknown' || data[1].country.replace('é','U00e9').replace('è','U00e8').replace('e d\'Iv','ediv')}}"></span></td>

    </tr>
    <!-- END: Inner ngRepeat. -->
</table>
</section>

<div class="navbar navbar-default navbar-fixed-bottom" ng-show="real === user.username" ng-class="{Mondial :user.username==='Mondial'}" role="navigation" style ="overflow: hidden;">
      <div class="container">
        <div class="navbar-header pull-left" style ="margin-top:7px;">
            <button class="btn btn-warning ladda-button" data-style="expand-right" ng-click="reset()"><span class="ladda-label"> Reset Pronos</span><span class="ladda-spinner"></span></button>
        </div>
        <div class="navbar-header pull-right" style ="margin-top:7px;">
            <button class="btn btn-primary ladda-button" data-style="expand-right" ng-click="savePronos()"><span class="ladda-label">Sauvegarder</span><span class="ladda-spinner"></span></button>
      </div>
    </div>
</div>