<div ng-include="'partials/navbar'"></div>
 
<!-- BEGIN: Outer ngRepeat. -->
<div ng-repeat="(group, groupData) in groupsMatches">
  <table class="table table-responsive" >
 
        <caption>
            <h1 class="l">Groupe {{group}}</h1>
        </caption>

            <!-- BEGIN: Inner ngRepeat. -->
            <tr ng-repeat="match in groupData.matches" ng-click="match[0].score + 1">
                <td class="c flag"><a href="{{ item.Pays1href }}"> <img ng-src="/images/country_flags/{{match[0].country}}.png" width="50" height="43"></span></a></td>
                <td class="l homeTeam">{{match[0].country}}</td>
                <td class="c">
                    {{ match[2].date }}<span class="leger"> {{ match[2].time }} </span> <br/>
                    <button type="button" class="btn btn-primary">Scorez</button>
                </td>
                <td class="r awayTeam">{{match[1].country}}</td>
                <td class="c flag"><a href="{{ item.Pays2href }}"> <img ng-src="/images/country_flags/{{match[1].country}}.png" width="50" height="43"> </span></a></td>
            </tr>
            <!-- END: Inner ngRepeat. -->

 
    </table>
  </div>
    <!-- END: Outer ngRepeat. -->

<div ng-include="'modals/login'"></div>

