/* Space out content a bit */

body {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #6E6E6E;
  height: 100%;
  background: #fff url(../images/body.gif) top left;
}

a {
  color: #008000;
  text-decoration: none;
}

/* Everything but the jumbotron gets side spacing for mobile first views */

.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */

.header {
  border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */

.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */

.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */

.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */

.marketing {
  margin: 40px 0;
}

.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */

@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */

  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */

  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */

  .jumbotron {
    border-bottom: 0;
  }
}

.left {
  float: left;
}

.right {
  float: right;
}

.l {
  text-align: left;
}

.r {
  text-align: right;
}

.c {
  text-align: center;
}

table.borderCols td,
table.borderCols th {
  border-left: 1px solid #d9d9d9;
  background-image: none;
}

.fixture th {
  background-image: none;
}

.fixture td {
  font-weight: normal;
}

.fixture .grid_4 caption {
  font: normal 18px/32px Arial;
}

.fixture td.mNum {
  width: 44px;
}

.fixture td.dt {
  width: 80px;
}

.box .fixture td.dt {
  padding-left: 5px;
}

.fixture td.flag {
  width: 25px;
}

.fixture td.homeTeam {
  width: 75px;
}

.fixture td.awayTeam {
  width: 75px;
}

.fixture td.nw {
  white-space: nowrap;
}

h2.group {
  font-weight: bold;
  padding: 3px;
  color: #999999;
  margin: 5px 0;
  background: #E4E4E4;
  margin: 0;
}

h4.group {
  font-weight: bold;
  padding: 10px;
  color: #999999;
  margin: 5px 0;
  background: #E4E4E4;
  margin: 0;
}

.date div {
  float: left;
  background: #fafafa;
  color: #666666;
  font-size: 11px;
  width: 30px;
  padding: 5px;
}

td.score input {
  width: 25px;
  border: solid 1px #ccc;
  border-radius: 4px;
  font-size: 12px;
  font-weight: bold;
  padding: 2px 4px;
  text-align: center;
}

td.Pts {
  font-size: 15px;
  font-weight: bold;
}

th.group {
  background: #F0F0F0;
  color: #666666;
  min-width: 50px;
}

td.group {
  background: #F0F0F0;
  color: #666666;
  vertical-align: middle;
}

span.nameGrey {
  color: #C5BEC0;
}

.Mondial {
  background: #00FF80;
}

.popover {
  width: 400px!important;
  max-width: 400px!important;
}

div.main {
  background: url(../images/mW.png) no-repeat top center;
  padding: -30px 0 10px;
  height: 100%;
  min-height: 360px;
}

div.mainheader {
  height: 176px;
  background: url(../images/header.png) no-repeat center top;
  position: relative;
}

.section {
  height: 500px;
  text-align: center;
  font-size: 40px;
  color: #fff;
  line-height: 500px;
}

.loader {
  width: 50px;
  height: 50px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

/* Loaders */

.loader-double {
  border-radius: 50px;
  border: 6px solid transparent;
  border-top-color: #fff;
  border-bottom-color: #fff;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

.loader-double:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  bottom: 5px;
  right: 5px;
  border-radius: 50px;
  border: 6px solid transparent;
  border-top-color: #fff;
  border-bottom-color: #fff;
  opacity: 0.6;
  -webkit-animation: spinreverse 2s linear infinite;
  animation: spinreverse 2s linear infinite;
}

/* Animations */

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spinreverse {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(-360deg);
  }
}

@keyframes spinreverse {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

.flag {
  width: 29px;
  height: 25px;
  background: url(../images/csg-535b66ddd9029.png) no-repeat top left;
  display: inline-block;
  vertical-align: middle;
}

.sprite-Algerie {
  background-position: 0 0;
}

.sprite-Allemagne {
  background-position: -30px 0;
}

.sprite-Angleterre {
  background-position: -60px 0;
}

.sprite-Belgique {
  background-position: -90px 0;
}

.sprite-BrU00e9sil {
  background-position: -120px 0;
}

.sprite-CorU00e9e {
  background-position: -150px 0;
}

.sprite-Cotedivoire {
  background-position: -180px 0;
}

.sprite-Equateur {
  background-position: -210px 0;
}

.sprite-Espagne {
  background-position: -240px 0;
}

.sprite-Etats-Unis {
  background-position: -270px 0;
}

.sprite-Pays-Bas {
  background-position: -300px 0;
}

.sprite-Suisse {
  background-position: -330px 0;
}

.sprite-_unknown {
  background-position: -360px 0;
  width: 32px;
  height: 32px;
}

.sprite-Argentine {
  background-position: -393px 0;
}

.sprite-Australie {
  background-position: -423px 0;
}

.sprite-Bosnie {
  background-position: -453px 0;
}

.sprite-Cameroun {
  background-position: -483px 0;
}

.sprite-Chilie {
  background-position: -513px 0;
}

.sprite-Colombie {
  background-position: -543px 0;
}

.sprite-Costarica {
  background-position: -573px 0;
}

.sprite-Croatie {
  background-position: -603px 0;
}

.sprite-France {
  background-position: -633px 0;
}

.sprite-Ghana {
  background-position: -663px 0;
}

.sprite-GrU00e8ce {
  background-position: -693px 0;
}

.sprite-Honduras {
  background-position: -723px 0;
}

.sprite-Iran {
  background-position: -753px 0;
}

.sprite-Italie {
  background-position: -783px 0;
}

.sprite-Japon {
  background-position: -813px 0;
}

.sprite-MU00e9xique {
  background-position: -843px 0;
}

.sprite-Nigeria {
  background-position: -873px 0;
}

.sprite-Portugal {
  background-position: -903px 0;
}

.sprite-Russie {
  background-position: -933px 0;
}

.sprite-Uruguay {
  background-position: -963px 0;
}

#login:before {
  content: '';
  position: absolute;
  z-index: -1;
  border: 1px dashed #ccc;
  top: 5px;
  bottom: 5px;
  left: 5px;
  right: 5px;
  box-shadow: 0 0 0 1px #fff;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

/*--------------------*/

#inputs input {
  background: #f1f1f1 url(http://www.red-team-design.com/wp-content/uploads/2011/09/login-sprite.png) no-repeat;
  padding: 10px 10px 10px 30px;
  margin: 0 0 10px 0;
  width: 253px;
  /* 353 + 2 + 45 = 400 */
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
}

#username {
  background-position: 5px -2px !important;
}

#password {
  background-position: 5px -52px !important;
}

#inputs input:focus {
  background-color: #fff;
  border-color: #e8c291;
  outline: none;
  box-shadow: 0 0 0 1px #e8c291 inset;
}

/*--------------------*/

#actions {
  margin: 0 0 0 0;
}

#submit {
  background-color: #ffb94b;
  background-image: linear-gradient(top, #fddb6f, #ffb94b);
  border-radius: 3px;
  text-shadow: 0 1px 0 rgba(255,255,255,0.5);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
  border-width: 1px;
  border-style: solid;
  border-color: #d69e31 #e3a037 #d5982d #e3a037;
  float: left;
  height: 35px;
  padding: 0;
  width: 120px;
  cursor: pointer;
  font: bold 15px Arial, Helvetica;
  color: #8f5a0a;
}

#submit:hover,
#submit:focus {
  background-color: #fddb6f;
  background-image: linear-gradient(top, #ffb94b, #fddb6f);
}

#submit:active {
  outline: none;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
}

#submit::-moz-focus-inner {
  border: none;
}

#actions a {
  color: #3151A2;
  float: right;
  line-height: 25px;
  margin-left: 10px;
}

/*--------------------*/

#back {
  display: block;
  text-align: center;
  position: relative;
  top: 60px;
  color: #999;
}

#cover {
  position: absolute;
  height: 100%;
  width: 100%;
  background: white;
}

#userInfo {
  float: right;
  padding: 8px;
}

#alertBox {
  position: fixed;
  min-width: 75%;
  left: 50%;
  margin: 0 0 0 -37.5%;
  top: 5px;
}

.fa.fa-twitter {
  color: #00A7E7;
}

.fa.fa-facebook-square {
  color: #3662A0;
}

.fa.fa-google-plus-square {
  color: #D74634;
}

.fade-hide-setup,
.fade-show-setup {
  transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.fade-hide-setup {
  opacity: 1;
}

.fade-hide-setup.fade-hide-start {
  opacity: 0;
}

.fade-show-setup {
  opacity: 0;
}

.fade-show-setup.fade-show-start {
  opacity: 1;
}

#userStats {
  display: block;
  width: auto;
  background-color: #f9f9f9;
  border-radius: 5px;
  padding: 12px;
}

#userStats .pic {
  float: left;
  display: block;
  margin-right: 10px;
}

#userStats .pic a img {
  padding: 7px;
  background: #fff;
  border: 1px solid #ccc;
}

#userStats .data {
  float: right;
  display: block;
  position: relative;
  width: 350px;
  height: 166px;
  padding: 4px;
  padding-left: 15px;
  background: #e6e6e6;
  overflow: hidden;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

#userStats .data h1 {
  color: #474747;
  line-height: 1.6em;
  text-shadow: 0px 1px 1px #fff;
}

#userStats .data h3 {
  color: #666;
  line-height: 0.9em;
  margin-bottom: 5px;
}

#userStats .data h4 {
  font-size: 1.2em;
  line-height: 1.3em;
}

#userStats .data .socialMediaLinks {
  position: absolute;
  right: 6px;
  top: 8px;
}

#userStats .data .socialMediaLinks a img {
  margin-right: 5px;
}

#userStats .data .sep {
  clear: both;
  margin-top: 40px;
  width: 320px;
  height: 1px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 0;
}

#userStats .data ul.numbers {
  list-style: none;
  margin-top: 0;
  border-top: 1px solid #fff;
  color: #676767;
  padding-top: 7px;
  width: 360px;
}

#userStats .data ul.numbers li {
  width: 100px;
  float: left;
  display: block;
  padding-left: 8px;
  height: 50px;
  border-right: 1px dotted #bbb;
  text-transform: uppercase;
}

#userStats .data ul.numbers li strong {
  color: #434343;
  display: block;
  font-size: 2.6em;
  line-height: 1.1em;
  font-weight: bold;
}

div.pic span.ChangePhoto {
  visibility: hidden;
  position: absolute;
  left: 10%;
  top: 10%;
  width: 50px;
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  line-height: 21px;
  text-shadow: 0 1px 3px rgba(0,0,0,.75);
}

div.pic:hover span.ChangePhoto {
  visibility: visible;
}

.glow {
  box-shadow: 0px 0px 20px 5px rgba(51, 77, 66, .95);
  background: #fff;
  border-radius: 8px;
}